name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2
    - name: Install uv and pipx
      run: |
        pip install uv && pip install pipx
    - uses: actions/setup-python@v5.6.0
      with:
        python-version: '3.14'
    - name: Install uv
      uses: astral-sh/setup-uv@v6.0.1

    - name: Install Dependencies
      run: uv sync
    - name: Install global dependencies
      run: |
        pipx install isort && pipx install black && pipx install bandit && pipx install pylint && \
        pipx install pre-commit
    - name: Run make
      run: uv run make check
