name: tox
on:
  workflow_dispatch:


permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  tox:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

        python-version: ["3.9", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - name: Using Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install uv
      uses: astral-sh/setup-uv@v6.0.1
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - run: tox -e py
